@model IEnumerable<OdeToFood2.Models.RstaurantViewModel>

<div id="restaurantList">
    @foreach (var i in Model)
    {
        <div>
            <h4>@i.Name</h4>
            <div>@i.City, @i.Country</div>
            <div>Reviews: @i.NumberOfReviews</div>
            <hr />
        </div>
    }
</div>
