@model IEnumerable<OdeToFood2.Models.RstaurantViewModel>
@{
    ViewBag.Title = "Home Page";
}

<form method="get">
    <input type="text" name="searchTerm" />
    <input type="submit" value="Search By Name" />
</form>

@foreach(var i in Model)
{
    <div>
        <h4>@i.Name</h4>
        <div>@i.City, @i.Country</div>
        <div>Reviews: @i.NumberOfReviews</div>
        <hr />
    </div>
}